name: Trigger auto deployment for azcustomerapi

# When this action will be executed
on:
  # Automatically trigger it when detected changes in repo
  push:
    branches: 
      [ master ]
    paths:
    - 'CustomerService/CustomerAPI/**'
    - '.github/workflows/azcustomerapi-AutoDeployTrigger-de0873a5-91a7-47cd-8782-6d7c3f98dd4f.yml'

  # Allow manual trigger 
  workflow_dispatch:
      
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout to the branch
        uses: actions/checkout@v2

      - name: Azure Login
        uses: azure/login@v1
        with:
          creds: ${{ secrets.AZCUSTOMERAPI_AZURE_CREDENTIALS }}

      - name: Build and push container image to registry
        uses: azure/container-apps-deploy-action@v2
        with:
          appSourcePath: ${{ github.workspace }}/CustomerService/CustomerAPI 
          registryUrl: eshopapicontainers.azurecr.io
          registryUsername: ${{ secrets.AZCUSTOMERAPI_REGISTRY_USERNAME }}
          registryPassword: ${{ secrets.AZCUSTOMERAPI_REGISTRY_PASSWORD }}
          containerAppName: azcustomerapi
          resourceGroup: RG1
          imageToBuild: eshopapicontainers.azurecr.io/customerapi:${{ github.sha }}
          
            

     

